aiocache==0.12.2
fastapi==0.112.0
itsdangerous==2.2.0
joserfc==1.0.0
mypy~=1.11
pydantic==2.8.2
pydantic-settings==2.4.0
pytest~=8.3
python-dotenv==1.0.1
python-multipart==0.0.9
starlette>=0.27.0
uvicorn[standard]==0.30.5
